{#
/**
 * @file ucb_course_entity.html.twig
 * Default theme implementation to present UCB Course data.
 *
 * This template is used when viewing UCB Course pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ucb_course_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ucb_course_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
